        <div class="container">
        <div class="cat-img">
           <div class="pro-bg pro-nepr">
            <h2>{{ heading_title }}</h2><hr>
        <div class="row cat-mr">
            <div class="beyque-p">
                <div id="featured_category" >
                <div class="category_module p-0">
                <div id="" class="beyqu-center-column-btn">
                    {% for category in categories %}
                        {% if category.category_id == category_id %}
                            <div class="block-cat-wr col-xs-12 col-md-3 pl-5 pr-5">
                                {% if category.image_name %}
                                    <img src="{{ category.image_name }}" class="img-responsive center-block" alt="">
                                {% else %}
                                    <img src="image/no_image.png" class="img-responsive center-block cat-noimg" alt="">
                                {% endif %}
                                <h4 class="text-center cat-name-height"><a href="{{ category.href }}" class="">{{ category.name }}</a></h4>
                            </div>
                        {% else %}
                            <div class="block-cat-wr col-xs-12 col-md-3 pl-5 pr-5">
                                {% if category.image_name %}
                                <a href="{{ category.href }}">
                                    <img src="{{ category.image_name }}" class="img-responsive center-block" alt="">
                                </a>
                                {% else %}
                                 <a href="{{ category.href }}">
                                    <img src="image/no_image.png" class="img-responsive center-block cat-noimg" alt="">
                                </a>
                                {% endif %}
                                <h4 class="text-center cat-name-height"><a href="{{ category.href }}" class="">{{ category.name }}</a></h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                     </div>
                </div>
            </div>
            </div> 
        </div>           
</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    $("#category-name").owlCarousel({
    itemsCustom : [
    [0, 1],
    [500, 2],
    [601, 1],
    [750, 2],
    [768, 1],
    [992, 1],
    [1200, 2],
    [1401, 3],
    [1850, 3]
    ],      
      autoPlay:6000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>