<div class="cbanner col-xs-4 col-md-4 col-sm-4">
			{% for banner in banners %}
				<div class="banner-effect">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />
				  	</a>
				  {% else %}
				  	<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />{% endif %}
				</div>
			  {% endfor %}
</div>