<div class="">
	<div class="seller_pannel_store pts-seller-detail">
	<div class="store_logo pts-text-center">
		<img class="img-responsive m-auto" src="{{ store_logo }}">
	</div>
	{% if (module_purpletree_multivendor_seller_name) is not null %}
	<div class="seller-name">
		<h3 class="ptsc-store-sellnamar">{{ seller_name }}</h3>
	</div>
	{% endif %}
	{% if seller_review_status %}
	{% if store_rating.rating %}
	<div class="rating pts-text-left">
		{% for i in 1..5 %}
		{% if store_rating.rating < i %} <span class="fa fa-stack star-seller"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack star-seller"><i class="fa fa-star fa-stack-2x" ></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
		{% endfor %}({{ store_rating.rating|number_format(1) }})
	</div>
	{% else %}
	{% for i in 1..5 %}
	<span class="fa fa-stack star-seller"><i class="fa fa-star-o fa-stack-1x" ></i></span>
	{% endfor %}({{ store_rating.rating|number_format(1) }})
	{% endif %}
	<div class="store-rating">
		<a href="{{ store_review }}" target="_blank">{{ text_sellerreview }} ({{ store_rating['count'] }})</a>
	</div>
	{% endif %}
	{% if (module_purpletree_multivendor_store_social_link) is not null %}
	<div class="social-icons d-flex justify-content-between">
		{% if facebook_link != '' %}
		<a target="_blank" href="{{ facebook_link }}"><i class="fa fa-facebook-square ptsc-store-facebo"></i></a> {% endif %}
		{% if twitter_link != '' %}
		<a target="_blank" href="{{ twitter_link  }}"><i class="fa fa-tumblr-square"></i></a>
		{% endif %}
		<!--{% if google_link != '' %}
		<a  target="_blank" href="{{ google_link }}"><i class="fa fa-google-plus-square"></i></a>
		{% endif %}-->
		{% if instagram_link != '' %}
		<a  target="_blank" href="{{ instagram_link }}"><i class="fa fa-instagram"></i></a>
		{% endif %}
		{% if pinterest_link != '' %}
		<a target="_blank" href="{{ pinterest_link }}"><i class="fa fa-pinterest-square"></i></a>
		{% endif %}
		{% if wesbsite_link != '' %}
		<a target="_blank" href="{{ wesbsite_link }}"><i class="fa fa-globe"></i></a>
		{% endif %}
		
		{% if whatsapp_link != '' %}
		<a target="_blank" href="{{ whatsapp_link }}"><i class="fa fa-whatsapp"></i></a>
		{% endif %}
	</div>
	{% endif %}
	<div class="seller-info">
		<div class="contact-info">
			{% if (module_purpletree_multivendor_store_email) is not null %}
			<div class="seller-email">
				<div><i class="fa fa-envelope" aria-hidden="true"></i> {{ store_email }}</div>
			</div>
			{% endif %}
			{% if (module_purpletree_multivendor_store_phone) is not null %}
			<div class="seller-phone">
				<div><i class="fa fa-phone" aria-hidden="true"></i> {{ store_phone }}</div>
			</div>
			{% endif %}
			{% if (module_purpletree_multivendor_store_address) is not null %}
			<div class="seller-address">
				<div><i class="fa fa-home" aria-hidden="true"></i>{{ store_address }}<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ store_city }}{{ store_state }}<p/><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ store_country }}{{ store_zipcode }}<p/></div>
			</div>
			{% endif %}
		</div>
		<div class="seller-about">
			<div>
				<a href="{{ store_about }}" target="_blank">{{ text_aboutstore }}
					<i class="fa fa-angle-right pts-r"></i>
				</a>
			</div>
		</div>
		
		<div class="seller-shipping">
			<div>
				<a href="{{ store_shipping_policy }}" target="_blank">{{ text_shippingpolicy }}
					<i class="fa fa-angle-right pts-r"></i>
				</a>
			</div>
		</div>
		<div class="seller-return">
			<div>
				<a href="{{ store_return_policy }}" target="_blank">{{ text_returnpolicy }}
					<i class="fa fa-angle-right pts-r"></i>
				</a>
			</div>
		</div>								
	</div>
	<div class="seller-return pts-text-center">
		<div class=" contact_seller_link">
			<a href="{{ seller_contact }}" class="contact_seller" target="_blank"><img src="image/catalog/contact_seller.png" width="20px" height="20px" class="ptsc-store-sellcontactc"> {{text_sellercontact }}</a>
		</div>
	</div>	
</div>