
	<div class="col-xs-4 secondbanner">
			{% for banner in banners %}
				<div class="sellbanner banner-effect">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />
				  	</a>
				  {% else %}
				  	<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />{% endif %}
				</div>
			  {% endfor %}
	</div>

</div>
</div>
</div>