<div class="container">
<div class="pro-bg pro-nepr">
<h2>{{ heading_title }}</h2><hr>
<div class="row thummargin"> 
  <div id="count" class="owl-theme owl-carousel">
  {% for product in products %}

  <div class="product-layout col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
        
                        {% set t = 0 %}
                          {% for insp_image in product.insp_images %}
                          {% if t == 0 %}
                           <a href="{{ product.href }}"><img src="{{ insp_image.popup }}" class="img-responsive second-img" alt="hover image"/></a>
                          {% set t = t + 1 %}
                          {% endif %}
                        {% endfor %}
        
        {% if product.tag_per  %}
          <p class="sale-tag {{ random(['hot','new','sale']) }}">Save {{ product.tag_per }}%</p>
        {% endif %}
      </div>
      <div class="caption text-center">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
       {#  <p>{{ product.description }}</p> #}
        {% if product.rating %}
        <div class="rating">{% for i in 1..5 %}
          {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}</div>
        {% endif %}
        {% if product.price %}
        <p class="price"> {% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {# {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} #} </p>
        {% endif %} 
      <div class="button-group">
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><svg width="16px" height="16px"><use xlink:href="#addwish"></use></svg></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><svg width="16px" height="16px"><use xlink:href="#addcompare"></use></svg></button>
        <div class="bquickv" data-toggle="tooltip" title="{{ button_quickview }}"></div>
      </div>
     <!-- quantity option -->
              <div class="input-group col-xs-12 col-sm-12 qop">
              <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity">{{ entry_qty }}</label>
              <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_{{ product.product_id }}" class="form-control col-sm-2 col-xs-9 qtyq" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />

              <button type="button" class="acart" data-loading-text="{{ text_loading }}" onclick="var xqty='fqty_{{ product.product_id }}';
              var aqty = parseInt(document.getElementById(xqty).value);
              console.log(aqty);
              if(aqty <=0){
              alert('Invalid quantity');
              }
              else{
              cart.add({{ product.product_id }},aqty);  
              }" class="btn btn-primary btn-lg btn-block col-sm-4 pull-right"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
             </button>
             </div>
            <!-- quantity option End -->
    </div>
      {% if config_module.countdown %}<div id="Countdown{{ product.product_id }}" class="box-timer"></div> {% endif %}
    
       

   {% if product.date_end %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#Countdown{{ product.product_id }}').countdown({
                        until: new Date({{ product.date_end|date("Y") }}, {{ product.date_end|date("m") }}-1, {{ product.date_end|date("d") }}, {{ product.date_end|date("H") }}, {{ product.date_end|date("i") }}, {{ product.date_end|date("s") }}),
                        labels: ['Years', 'Months', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'],
                        labels1: ['Year', 'Month', 'Week', 'Day', 'Hr', 'Min', 'Sec'],
                    });
                    //$('#Countdown<?php echo $product['product_id'];?>').countdown('pause');
                });
            </script>
    {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
   </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    $("#count").owlCarousel({
    itemsCustom : [
    [0, 1],
    [375, 2],
    [600, 3],
    [768, 3],
    [992, 4],
    [1200, 4]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>