<div class="newletter-subscribe inspire-newsletter">
	  <div class="newletter-title">
	  	<h3>{{ heading_title1  }}</h3>
	  	<div class="description-top"><p>{{ details  }}</p></div>
	  </div>
		  <div class="fnews">
			  	<form name="subscribe" id="subscribe">
				  	<div class="form-group">
						<input class="form-control inputNew" type="text" placeholder="{{ entry_email1 }}" value="" name="subscribe_email" id="subscribe_email">
						<input class="form-control" type="hidden" value="" name="subscribe_name" id="subscribe_name" />
					</div>
					<div class="button-submit">
						<a class="btn btn-block" onclick="email_subscribe()"><span>{{ entry_button  }}</span></a>
						{% if option_unsubscribe %}
						<a class="btn btn-block" onclick="email_unsubscribe()"><span>{{ entry_unbutton  }}</span></a>
						{% endif %} 
					</div> 
			  	</form>
			</div>
		  <div id="email-alert"></div>

<script type="text/javascript">
function email_subscribe(){
	$.ajax({
			type: 'post',
			url: 'index.php?route=extension/module/newslettersubscribe/subscribe',
			dataType: 'html',
            data:$("#subscribe").serialize(),
			success: function (html) {
			try {
			
				eval(html);
			
			} catch (e) {
			}
				
			}}); 
	
	
}
function email_unsubscribe(){
	$.ajax({
			type: 'post',
			url: 'index.php?route=extension/module/newslettersubscribe/unsubscribe',
			dataType: 'html',
            data:$("#subscribe").serialize(),
			success: function (html) {
					try {
					
						eval(html);
					
					} catch (e) {
					}
			}}); 
	$('html, body').delay( 1500 ).animate({ scrollTop: 0 }, 'slow'); 
	
}
</script>
<script type="text/javascript">
    $(document).ready(function() {
		$('#subscribe_email').keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
                email_subscribe();
            }
			var name= $(this).val();
		  	$('#subscribe_name').val(name);
        });
		$('#subscribe_email').change(function() {
		 var name= $(this).val();
		  		$('#subscribe_name').val(name);
		});
	
    });
</script>


</div>