<nav id="column-left">
  <div id="navigation"><span class="fa fa-bars"></span> {{ text_selleroption }}</div>
  <ul id="menu">
{% if logged %}
	{%  if isSeller.store_status is defined %}
			{% if isSeller.store_status %} 
    <li id="pts-seller-panel-dashboardicon">
       <a href="{{ dashboardicons }}">
	      {% if dashboard_iconss %}
	        <i class="fa fa-dashboard fw"></i>
	        {% else %}
	        <div class="invert sellerAccountImg1"></div>
	      {% endif %}
	        <div class="menu-icons"> 
	          {{ text_dashboard_icon }}
	        </div>
        </a>
    </li>
	<li id="pts-seller-panel-dashboard">
	   <a href="{{ dashboard }}">
	      {% if summary_icons %}
	         <img src="image/catalog/dashboardicon/shipping-icon-0.png"  class="invert sellerAccountImg1"/>
	         {% else %}
             <div class="invert sellerAccountImg1"></div>
	      {% endif %} 
	        <div class="menu-icons">
	          {{ text_dashboard }} 
	        </div>
	    </a>
    </li>
	{% if password %}
	   <li id="pts-seller-panel-password">
		   <a href="{{ password }}">
		       {% if pass_icons %}
		          <i class="fa fa-user fw"></i> 
		          {% else%}
	              <div class="invert sellerAccountImg1"></div>
		       {% endif %} 
		       <div class="menu-icons">
		          {{ text_password }}
		       </div>
		   </a>
       </li>
	{% endif %}
	<li id="pts-seller-panel-sellerstore">
	   <a href="{{ sellerstore }}">
	      {% if store_information_icons %}
			  <img src="image/catalog/dashboardicon/shop.png"  class="invert sellerAccountImg1"/>
			  {% else %}
		      <div class="invert sellerAccountImg1"></div>
          {% endif %} 
              <div class="menu-icons">
                  {{ text_sellerstore }} 
              </div>
       </a>
    </li>
	<li id="pts-seller-panel-sellerproduct">
	    <a href="#collapse1" data-toggle="collapse" class="parent collapsed">
	        {% if sales_icons %}
				  <i class="fa fa-shopping-cart fw"></i>
				  {% else%}
			      <div class="invert sellerAccountImg1"></div>
            {% endif %} 
	              <div class="menu-icons">
	                 {{ text_sales }}
	              </div>
	    </a>
				<ul id="collapse1" class="collapse">
					<li id="pts-seller-panel-sellerorder"><a href="{{ sellerorder }}"> {{ text_sellerorder }}</a>
				    </li>
					<li id="pts-seller-panel-sellerpayment"><a href="{{ sellerpayment }}">{{ text_sellerpayment }}</a>
				    </li>
					<li id="pts-seller-panel-sellercommission"><a href="{{ sellercommission }}"> {{ text_sellercommission }}</a>
				    </li>
					<li id="pts-seller-panel-commissioninvoice"><a href="{{ commissioninvoice }}"> {{ text_commissioninvoice }}</a>
				    </li>
					<li id="pts-seller-panel-seller-product-returns"><a href="{{ seller_product_returns }}"> {{ text_seller_returns }}</a>
				    </li>
					<li id="pts-seller-panel-sellercoupons"><a href="{{ sellercoupons }}"> {{ text_sellercoupons }}</a>
				    </li>
				</ul>
    </li>
	<li id="pts-seller-panel-sellerproduct">
	    <a href="#collapse2" data-toggle="collapse" class="parent collapsed">
	       {% if catalog_icons %}
	          <i class="fa fa-tags fw"></i>
              {% else%}
	          <div class="invert sellerAccountImg1"></div>
	       {% endif%} 
	          <div class="menu-icons">
	              {{ text_catalog }}
	          </div>

	    </a>
	
					<ul id="collapse2" class="collapse">
					<li id="pts-seller-panel-sellerproductt"><a href="{{ sellerproduct }}">{{ text_sellerproduct }}</a></li>
					<li id="pts-seller-panel-attribute-link"><a href="{{ attribute_link }}"> {{ text_attribute }}</a>
				    </li>
					<li id="pts-seller-panel-attribute-groups-link"><a href="{{ attribute_groups_link }}"> {{ text_attribute_groups }}</a>
				    </li>
					<li id="pts-seller-panel-options-link"><a href="{{ options_link }}"> {{ text_options }}</a>
				    </li>
					{% if module_purpletree_multivendor_seller_product_template == 1 %}
					<li id="pts-seller-panel-seller-template-product"><a href="{{ seller_template_product }}"> {{ text_seller_template_product }}</a>
				    </li>
					{% endif %}
					<li id="pts-seller-panel-downloadsitems"><a href="{{ downloadsitems }}"> {{ text_downloads }}</a>
				    </li>
					</ul>
    </li>
	<li id="pts-seller-panel-shipping">
			<a href="{{ shipping }}">
			      {% if shipping_rates_icons %}
			         <img src="image/catalog/dashboardicon/shipping.png"  class="invert sellerAccountImg1"/>
		             {% else%}
			         <div class="invert sellerAccountImg1"></div>
			      {% endif %}
			         <div class="menu-icons">
			             {{ text_shipping }}
			         </div>
		    </a>
    </li>
	<li id="pts-seller-panel-bulkproductupload">
	        <a href="{{ bulkproductupload }}">
	             {% if upload_icons %}
	                <img src="image/catalog/dashboardicon/icon-prepaid.png"  class="invert sellerAccountImg1"/>
	                {% else%}
	                <div class="invert sellerAccountImg1"></div>
	             {% endif %} 
	                <div class="menu-icons">
	                    {{ text_bulkproductupload }}
	                </div>
	        </a>
    </li>
	<li id="pts-seller-panel-sellerenquiry">
	        <a href="{{ sellerenquiry }}">
	             {% if enquiries_icons %}
	                <img src="image/catalog/dashboardicon/enquiry.png"  class="invert sellerAccountImg1"/>
	                {% else%}
	                <div class="invert sellerAccountImg1"></div>
	             {% endif %}
	                <div class="menu-icons">
	                   {{ text_sellerenquiry }}
	                </div>
	        </a>
    </li>
	<li id="pts-seller-panel-sellerenquiries">
	        <a href="{{ sellerenquiries }}">
	             {% if messages_icons %}
	                <img src="image/catalog/dashboardicon/Adminmessages.png"  class="invert sellerAccountImg1"/>
	                {% else%}
	                <div class="invert sellerAccountImg1"></div>
	             {% endif %}
	                 <div class="menu-icons">
	                      {{ text_seller_enquiries }}
	                 </div>
	        </a>
    </li>
	<li id="pts-seller-panel-sellerreview">
	        <a href="{{ sellerreview }}">
	           {% if reviews_icons %}
	              <img src="image/catalog/dashboardicon/review-icon-2.png"  class="invert sellerAccountImg1"/>
	              {% else%}
	              <div class="invert sellerAccountImg1"></div>
	          {% endif %}
	              <div class="menu-icons">
	                   {{ text_sellerreview }}
	              </div>
	        </a>
    </li> 
	   {% if seller_blog_status %} 
	       <li id="pts-seller-panel-sellerblogpost">
	           <a href="{{ sellerblogpost }}">
	               {% if blog_icons %}
	                  <img src="image/catalog/dashboardicon/blog.png"  class="invert sellerAccountImg1"/>
	                  {% else%}
	                  <div class="invert sellerAccountImg1"></div>
	               {% endif %}
	                   <div class="menu-icons">
	                        {{ text_blog_post }}
	                   </div>
	           </a>
           </li>
	       <li id="pts-seller-panel-sellerblogcomment">
	           <a href="{{ sellerblogcomment }}">
	                {% if blog_comments_icons %}
	                   <img src="image/catalog/dashboardicon/blog-comment.png"  class="invert sellerAccountImg1"/>
	                   {% else%}
	                   <div class="invert sellerAccountImg1"></div>
	                {% endif %}
	                   <div class="menu-icons">
	                       {{ text_blog_comment }}
	                   </div>
	           </a>
           </li>
	   {% endif %}
	   {% if subscriptionplan %}
		   <li id="pts-seller-panel-subscriptionplan">
		      <a href="{{ subscriptionplan }}">
                  {% if plan_icons %}
		             	<img src="image/catalog/dashboardicon/subscription.png"  class="invert sellerAccountImg1"/>
			            {% else%}
		                <div class="invert sellerAccountImg1"></div>
	              {% endif %}
	                    <div class="menu-icons">
	                       {{ text_subscription }}
	                    </div>
	          </a>
		</li>
		<li id="pts-seller-panel-subscriptions">
		      <a href="{{ subscriptions }}">
		          {% if sub_invoice_icons %}
			          <img src="image/catalog/dashboardicon/subscription.png"  class="invert sellerAccountImg1"/>
			          {% else%}
		              <div class="invert sellerAccountImg1"></div>
	              {% endif %}
	                   <div class="menu-icons">
	                       {{ text_subscriptions }}
	                   </div>
	          </a>
		</li>
	  {% endif %} 
	<li id="pts-seller-panel-removeseller">
	         <a onclick="return confirm('Are you sure?')" href="{{ removeseller }}">
		         {% if remove_as_seller_icons %}
		             <i class="fa fa-sign-out"></i>
		             {% else %}
		             <div class="invert sellerAccountImg1"></div>
		         {% endif %} 
	             <div class="menu-icons">
	                 {{ text_removeseller }}
	             </div>
	         </a>
	</li>
	{% if logout %}
		<li id="pts-seller-panel-logout">
		      <a href="{{ logout }}">
		         {% if log_icons %}
		             <i class="fa fa-sign-out"></i>
		             {% else %}
	                 <div class="invert sellerAccountImg1"></div>
	             {% endif %}
		             <div class="menu-icons">
		                  {{ text_logout }}
		             </div>
		      </a>
		</li>	
	{% endif %}
	{% else %}
		{% if isSeller.is_removed %}
		     <li id="pts-seller-panel-becomeseller">
		          <a href="{{ becomeseller }}">
		             <i class="fa fa-user fw"></i> 
		               {{ text_becomeseller }}
		          </a>
		      </li>	
		{% else %}
		     <li id="pts-seller-panel-approval">
		        <a javascript="void(0)">
			         {% if store_information %}
			            <i class="fa fa fa-upload fw"></i>
			            {% else%}
			            <div class="invert sellerAccountImg1"></div>
			         {% endif %}
			             <div class="menu-icons">
			                 {{ text_approval }}
			             </div>
		        </a>
		</li>	
		<li id="pts-seller-panel-sellerstore">
		    <a href="{{ sellerstore }}">
		        {% if store_information %}
				        <img src="image/catalog/dashboardicon/shop.png"  class="invert sellerAccountImg1"/>
				        {% else%}
				        <div class="invert sellerAccountImg1"></div>
		        {% endif %}
		                <div class="menu-icons"> 
		                    {{ text_sellerstore }}
		                </div>
		    </a>
		</li>	
		{% endif %}
	{% endif %}
	{% endif %} 
	{% if logged %}
{% if module_purpletree_multivendor_status %}
{% if isSeller.store_status is empty %}
<li id="pts-seller-panel-becomeseller"><a href="{{ becomeseller }}"><i class="fa fa-user fw"></i> {{ text_becomeseller }}</a>
		</li>	
		{% endif %}
{% endif %}
{% endif %}
{% endif %}
  </ul>
  <script>
// Tooltip remove fixed
	$(document).on('click', '[data-toggle=\'tooltip\']', function(e) {
		$('body > .tooltip').remove();
	});
	
	$('#button-menu').on('click', function(e) {
		e.preventDefault();
		
		$('#column-left').toggleClass('active');
	});

	// Set last page opened on the menu
	$('#menu a[href]').on('click', function() {
		sessionStorage.setItem('menu', $(this).attr('href'));
	});

	if (!sessionStorage.getItem('menu')) {
		$('#menu #dashboard').addClass('active');
	} else {
		// Sets active and open to selected page in the left column menu.
		$('#menu a[href=\'' + sessionStorage.getItem('menu') + '\']').parent().addClass('active');
	}
	
	$('#menu a[href=\'' + sessionStorage.getItem('menu') + '\']').parents('li > a').removeClass('collapsed');
	
	$('#menu a[href=\'' + sessionStorage.getItem('menu') + '\']').parents('ul').addClass('in');
	
	$('#menu a[href=\'' + sessionStorage.getItem('menu') + '\']').parents('li').addClass('active');
 </script>
 </nav>