{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
         <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
      
          <div class="form-group parent-form">
            <label class="control-label col-sm-2" for="input-option">{{ entry_type }}</label>
            <div class="control-option col-sm-10">
              <div class="switch switch-long switch-multi3">
                <input type="radio" name="option" class="switch-input" id="option-all" value="0" onClick="GetOptionsSelect();" {% if option == 0 %} checked="checked"{% endif %}/>
                <label for="option-all" class="switch-label switch-label-1">{{ entry_type_all }}</label>
                <input type="radio" name="option" class="switch-input" id="option-cate" value="1" onClick="GetOptionsSelect();" {% if option == 1 %} checked="checked"{% endif %}/>
                <label for="option-cate" class="switch-label switch-label-2">{{ entry_type_cate }}</label>
                 <input type="radio" name="option" class="switch-input" id="option-auto" value="2" onClick="GetOptionsSelect();" {% if option == 2 %} checked="checked"{% endif %}/>
                <label for="option-auto" class="switch-label switch-label-3">{{ entry_type_auto }}</label>
                <span class="switch-selection"></span>
              </div>
            </div>
          </div>
       
          {# -- All product select  #}
          <div class="option-all-selected select-options">
            <div class="form-group">
              <label class="control-label col-sm-2" for="input-product">{{ entry_product }}</label>
              <div class="col-sm-10">
                <input type="text" name="product" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
                <div id="featured-product" class="well well-sm" style="height: 150px; overflow: auto;">
                  {% for product in products %}
          
                  <div id="featured-product{{ product.product_id }}">
                  {# <i class="fa fa-times"></i> #}
                  <img src="{{ product.image }}" alt="" />
                  {{ product.name }}
            
                  <input type="hidden" name="product[]" value="{{ product.product_id }}" />
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {# --------------------------- Categories tab-------------------------- #}
          <div class="option-cate-selected select-options">
            <div class="form-group">
              <label class="control-label col-sm-2" for="input-cate_id">{{ entry_cate_select }}</label>
              <div class="control-option col-sm-10">
                <input type="text" name="cate_name" value="{{ cate_ids.name }}" placeholder="Search category" id="input-cate_name" class="form-control" />{# <i class="fa fa-times"></i> #}
                 <input type="hidden" name="cate_id" value="{{ cate_ids.category_id }}" id="input-cate_id" />
               </div>
               {% if error_category %}
                  <div class="text-danger">{{ error_category }}</div>
               {% endif %}
             </div>
            <div class="form-group parent-form">
              <label class="control-label col-sm-2" for="input-productfrom">{{ entry_pfrom }}</label>
              <div class="control-option col-sm-10">            
                <div class="switch switch-long switch-multi3">
                  <input type="radio" name="productfrom" class="switch-input" id="productfrom-all" value="1" onClick="GetOptionsSelect();" {% if productfrom == 1 %} checked="checked"{% endif %}/>
                  <label for="productfrom-all" class="switch-label switch-label-1">{{ entry_pfrom_all }}</label>
                  <input type="radio" name="productfrom" class="switch-input" id="productfrom-select" value="0" onClick="GetOptionsSelect();" {% if productfrom == 0 %} checked="checked"{% endif %}/>
                  <label for="productfrom-select" class="switch-label switch-label-2">{{ entry_pfrom_select }}</label>
                  <input type="radio" name="productfrom" class="switch-input" id="specific-product" value="2" onClick="GetOptionsSelect();" {% if productfrom == 2 %} checked="checked"{% endif %}/>
                  <label for="specific-product" class="switch-label switch-label-3">{{ entry_specificproduct }}</label>
                  <span class="switch-selection"></span>
                </div>
              </div>
            </div>
            <div class="productfrom-all-selected select-options">
            </div>
            <div class="productfrom-select-selected select-options">
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-productcate">{{ entry_product }}</label>
                <div class="col-sm-10">
                  <input type="text" name="productcate" value="" placeholder="{{ entry_product }}" id="input-productcate" class="form-control" />
                  <div id="category-product" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for productcate in productcates %}
                    <div id="category-product{{ productcate.product_id }}">          
                      <img src="{{ productcate.image }}" alt="" />
                      {{ productcate.name }}            
                      <input type="hidden" name="productcate[]" value="{{ productcate.product_id }}" />
                      <i class="fa fa-times"></i>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="specific-product-selected select-options">
              <div class="form-group">
                <label class="control-label col-sm-2" for="input-specific-product">{{ entry_selectspecificproduct }}</label>
                <div class="control-option col-sm-10">
                  <small class="text-for-specificproducts" style="padding: 0 0 10px 0; float: left;">{{ entry_selectspecificproduct_small }}</small>
                  <select name="input_specific_product" id="input-specific-product" class="form-control">
                    {% if input_specific_product == 0 %}
                      <option value="0" selected="selected">{{ entry_new }}</option>
                      <option value="1">{{ entry_sale }}</option>
                      <option value="2">{{ entry_bestseller }}</option>
                     {% elseif input_specific_product == 1 %}
                      <option value="0">{{ entry_new }}</option>
                      <option value="1" selected="selected">{{ entry_sale }}</option>
                      <option value="2">{{ entry_bestseller }}</option>
                     {% elseif input_specific_product == 2 %}
                      <option value="0">{{ entry_new }}</option>
                      <option value="1">{{ entry_sale }}</option>
                      <option value="2" selected="selected">{{ entry_bestseller }}</option>
                    {% elseif input_specific_product == 3 %}
                      <option value="0">{{ entry_new }}</option>
                      <option value="1">{{ entry_sale }}</option>
                      <option value="2">{{ entry_bestseller }}</option>
                    {% else %}
                      <option value="0">{{ entry_new }}</option>
                      <option value="1">{{ entry_sale }}</option>
                      <option value="2">{{ entry_bestseller }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
          </div>
     
          {#--------------------------- Auto tab ----------------------- #}
          <div class="option-auto-selected select-options">
            <div class="form-group auto-select">
              <label class="control-label col-sm-2" for="input-autoproduct">{{ entry_product }}</label>
              <div class="control-option col-sm-10">
                <select name="autoproduct" id="input-select" class="form-control">
                  {% if autoproduct == 0 %}
                    <option value="0" selected="selected">{{ entry_new }}</option>
                    <option value="1">{{ entry_sale }}</option>
                    <option value="2">{{ entry_bestseller }}</option>
                   {% elseif autoproduct == 1 %}
                    <option value="0">{{ entry_new }}</option>
                    <option value="1" selected="selected">{{ entry_sale }}</option>
                    <option value="2">{{ entry_bestseller }}</option>
                   {% elseif autoproduct == 2 %}
                    <option value="0">{{ entry_new }}</option>
                    <option value="1">{{ entry_sale }}</option>
                    <option value="2" selected="selected">{{ entry_bestseller }}</option>
                  {% elseif  autoproduct == 3  %}
                    <option value="0">{{ entry_new }}</option>
                    <option value="1">{{ entry_sale }}</option>
                    <option value="2">{{ entry_bestseller }}</option>
                  {% else %}
                    <option value="0">{{ entry_new }}</option>
                    <option value="1">{{ entry_sale }}</option>
                    <option value="2">{{ entry_bestseller }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
     
      {# ------------------ #}
     
      
      
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-status">{{ entry_countdown }}<small>{{ entry_countdown_small }}</small></label>
        <div class="col-sm-10">
          <select name="countdown" id="countdown-on" class="form-control">
            {% if countdown == 1 %}
            <option value="1" selected="selected">{{ entry_yes }}</option>
            <option value="0">{{ entry_no }}</option>
            {% elseif countdown == 0 %}
            <option value="0" selected="selected">{{ entry_no }}</option>
            <option value="1" >{{ entry_yes }}</option>
            {% endif %}
          </select>
        </div>
      </div>
    
      <div class="form-group">
        <label class="control-label col-sm-2" for="input-limit">{{ entry_limit }}</label>
        <div class="control-option col-sm-10">
          <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
        </div>
      </div>
      <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
            <div class="col-sm-10">
              <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
              {% if error_width %}
              <div class="text-danger">{{ error_width }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
            <div class="col-sm-10">
              <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
              {% if error_height %}
              <div class="text-danger">{{ error_height }}</div>
              {% endif %}
            </div>
          </div>

    </form>
    </div>
  </div>
</div>
<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
    
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
  var category_id;
$('input[name=\'product\']').autocomplete({
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=extension/module/countdown/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            image: item['image'],
            label: item['name'],
            value: item['product_id'] 
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'product\']').val('');
    
    $('#featured-product' + item['value']).remove();
    
    $('#featured-product').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-times"></i> ' + '<img src="' +item['image']+ '" alt=""/>' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');  
    
    $('#featured-product').scrollTop(1000);
  }
});
$('#featured-product').delegate('.fa-times', 'click', function() {
  $(this).parent().remove();
});
// Search category
$('input[name=\'cate_name\']').autocomplete({
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=extension/module/countdown/autocompleteCategory&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['category_id']
          }
        }));
      }
    });
  },
  select: function(item) {  
    document.getElementById("input-cate_name").value= item['label'];  
    document.getElementById("input-cate_id").value= item['value'];  
    $('#featured-productcate').children().remove();
    }
});
$('#input-cate_name').parent().delegate('.fa-times', 'click', function() {
  document.getElementById("input-cate_name").value= '';
  document.getElementById("input-cate_id").value= '';
  $('#category-product').children().remove();
});

// Search product from category
$('input[name=\'productcate\']').autocomplete({
  source: function( request, response) {
    $.ajax({
      url: 'index.php?route=extension/module/ocproduct/getProductCategory&user_token={{ user_token }}&category_id=' + $("#input-cate_id").val()+ '&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      data: {
      },
      success: function(json) {
        response($.map(json, function(item) {
          return {
            image: item['image'],
            label: item['name'],
            value: item['product_id'] 
          }
        }));
        
      }
    });
  },
  select: function(item) {
    $('input[name=\'productcate\']').val('');
    
    $('#category-product' + item['value']).remove();
    
    $('#category-product').append('<div id="category-product' + item['value'] + '"><i class="fa fa-times"></i> ' + '<img src="' +item['image']+ '" alt=""/>' + item['label'] + '<input type="hidden" name="productcate[]" value="' + item['value'] + '" /></div>');  
    
    $('#category-product').scrollTop(1000);
  }
});
  
$('#category-product').delegate('.fa-times', 'click', function() {
  $(this).parent().remove();
});

function GetOptionsSelect() {
    $('.select-options').hide();
    var ParentForms = document.getElementsByClassName('parent-form');
    for (var j = 0; j < ParentForms.length; j ++){
      var InputChilds = ParentForms[j].getElementsByTagName('input');
      for (var i = 0; i < InputChilds.length; i++) {
            if (InputChilds[i].checked) {
              console.log(id);
              var id = InputChilds[i].id;
              var test = $('.'+id+'-selected');
              $(test).show();

            } //end if
 
      } // end for
    };
    
} //end

$(document).ready(function(){
  GetOptionsSelect(); 
  $('.list-selection label').on('click',function(){
      $(this).parent().find('.active').removeClass('active');
      $(this).addClass('active');
  });

})
{% for language in languages %}
$('#input-description{{ language.language_id }}').summernote({height: 300});
$('#language{{ language.language_id }} .html-content').hide();
$('#language{{ language.language_id }} a').click(function(){
  $('#language{{ language.language_id }} .html-content').slideToggle();
});
$('#input-title{{ language.language_id }}').parent().parent().parent().css('border-top','2px solid #279CBB');
{% endfor %}
//--></script>
</div>
{{ footer }}