{{ header }}
<div class="pts-container container">
<div class="pts-row d-flex row">{{ column_left }}
		<div id="content" class="pts-col-sm-9 col-sm-9 pts-col-md-9 col-md-9 pts-col-lg-10 col-lg-10 pts-col-xs-12 col-xs-12"> 
			<div class="page-header">
	{% if success %}
	<div class="alert pts-alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
	{% endif %}
	{% if error_warning %}
	<div class="alert pts-alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
	{% endif %}
    <div class="container-fluid">
     <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
	  {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
              </ul>
    </div>
  </div>
			<div class="pts-panel pts-panel-default">
			<div class="pts-panel-heading">
					<h3 class="pts-panel-title"><i class="fa fa-list"></i> {{ text_bulk_shipping_upload }}</h3>
				</div>
				<div class="pts-panel-body">
					<div class="pts-well">
						<div class="pts-row">
							<div class="pts-col-sm-12 pts-text-left">
								<div>
									<div>
										<label class="pts-control-label ptsc-font-normal" for="input-name">{{ text_maxtime_info }}</label><label class="ptsc-font-bold">&nbsp;{{ max_time }}&nbsp; {{'seconds' }}</label>
										
									</div>
									<div>
										<label class="pts-control-label ptsc-font-normal" for="input-name">{{ text_file_size_info }} </label><label class="ptsc-font-bold">&nbsp;{{ memory_limit }}</label>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>  
					<form action="{{ export }}" method="post" enctype="multipart/form-data" id="form-customer">
						<div class="pts-well">
							<div class="pts-row">
								<div class="pts-panel-heading">
									<h3 class="pts-panel-title"><i class="fa fa-download"></i> {{ text_bulk_shipping_export_data }}</h3>
								</div>
								
								<div class="pts-col-sm-12 pts-text-left">
									<div class="pts-form-group">
										<input type="submit" value="{{ button_export }}" class="pts-btn pts-btn-primary" class="pts-button_add ptsc-bulk-shipp-padding" >
										
									</div>
								</div>
								
							</div>
						</div>
					</form>
					<form action="{{ upload }}" method="post" enctype="multipart/form-data" id="form-customer">
						<div class="pts-well">
							<div class="pts-row">
								<div class="pts-panel-heading">
									<h3 class="pts-panel-title"><i class="fa fa-upload"></i> {{ text_bulk_shipping_upload_data }}</h3>
								</div>
								
								<div class="pts-col-sm-6 pts-text-left">
									<div class="pts-form-group ptsc-bulk-shipp-height">
										<input type="file"  name="import">
										
									</div>
								</div>
								<div class="pts-col-sm-6 pts-text-left">
									<div class="pts-form-group">
										<input type="submit" value="{{ button_upload }}" class="pts-btn pts-btn-primary" class="button_add ptsc-bulk-shipp-padding" >
										
									</div>
								</div>
								
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}