{{ header }}
<div class="pts-container container">
<div class="pts-row d-flex row">{{ column_left }}
		<div id="content" class="pts-col-sm-9 col-sm-9 pts-col-md-9 col-md-9 pts-col-lg-10 col-lg-10 pts-col-xs-12 col-xs-12"> 
			<div class="page-header">
	{% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    {% if success %}
    <div class="alert pts-alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="container-fluid">
     <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
	  {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
              </ul>
    </div>
  </div>
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="pts-form-horizontal">
				<div class="pts-tab-content ptsc-temppro-tabboxshpadd">
					<div class="row">
						<div class="col-sm-3 col-xs-12 col-12 ptsc-temppro-timgpadl">
							<img src= {{ template_image }} class="img-fluid img-responsive ptsc-temppro-timg">
						</div>
						<div class="col-sm-9 col-xs-12 col-12">
							<h2 class="ptsc-temppro-tnam"><small>{{ template_name }}</small></h2>
							<div class=" col-sm-6 col-xs-12 col-12">
								<div class="pts-form-group">
									<label class="pts-col-sm-12 col-form-label" for="input-price">{{ entry_price }}</label>
									<div class="pts-col-sm-12">
										<input type="text" name="price" value="{{ price }}" placeholder="{{ entry_price }}" id="input-price" class="pts-form-control" />
									</div>
								</div>
							</div>
							<div class=" col-sm-6 col-xs-12 col-12">
								<div class="pts-form-group">
									<label class="pts-col-sm-12 col-form-label" for="input-quantity">{{ entry_quantity }}</label>
									<div class="pts-col-sm-12">
										<input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="pts-form-control" />
									</div>
								</div>
							</div>
							<div class=" col-sm-6 col-xs-12 col-12">  
								<div class="pts-form-group ">
									<label class="pts-col-sm-12 col-form-label" for="input-subtract">{{ entry_subtract }}</label>
									<div class="pts-col-sm-12">
										<select name="subtract" id="input-subtract" class="pts-form-control">	
											{% if subtract %}
											<option value="1" selected="selected">{{ text_yes }}</option>
											<option value="0">{{ text_no }}</option>
											{% else %}
											<option value="1">{{ text_yes }}</option>
											<option value="0" selected="selected">{{ text_no }}</option>
											{% endif %}
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12 col-12">
								<div class="pts-form-group">
									<label class="pts-col-sm-12 col-form-label" for="input-stock-status"><span data-toggle="tooltip" title="{{ entry_stock_status }}">{{ entry_stock_status }}</span></label>
									<div class="pts-col-sm-12">
										<select name="stock_status_id" id="input-stock-status" class="pts-form-control">
											{% for stock_status in stock_statuses %}
											{% if stock_status.stock_status_id == stock_status_id %}
											<option value="{{ stock_status.stock_status_id }}" selected="selected">{{ stock_status.name }}</option>
											{% else %}
											<option value="{{ stock_status.stock_status_id }}">{{ stock_status.name }}</option>
											{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12 col-12">  
								<div class="pts-form-group">
									<label class="pts-col-sm-12 col-form-label" for="input-status">{{ entry_status }}</label>
									<div class="pts-col-sm-12">
										<select name="status" id="input-status" class="pts-form-control">	
											{% if status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
							</div>
							{% if template_description %}
							<div class="col-sm-12 col-xs-12 col-12">
								<div class="pts-form-group">
									<label class="pts-col-sm-12 col-form-label" for="input-quantity">{{ entry_description }}</label>
									<div class="pts-col-sm-12">
										<textarea name="description" data-toggle="summernote" id="input-description" class="pts-form-control summernote ckeditor">{{ description }}</textarea>
									</div>
								</div>
							</div>
							{% endif %}
							<div class="col-sm-12 col-xs-12 col-12">
								<div class="pts-form-group">
									<label class="pts-col-sm-12 col-form-label" for="input-quantity">{{ text_comment }}</label>
									<div class="pts-col-sm-12">
										<textarea name="comment" id="input-comment" class="pts-form-control">{{ comment }}</textarea>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12 col-12 pts-text-right ptsc-temppro-subbtn">
								<input type="submit" value="{{ button_save }}" class="pts-btn pts-btn-primary" />
							</div>
						</div>
						
						
						<div class="clearfix"></div>
						<div class=" col-sm-12 col-xs-12 col-12">
							<div class="compare-price ptsc-compare-price">
								<h3 class="h3">{{ text_other }}</h3>
								<div class="pts-border-grey ptsc-border-grey">
									<table class="table strip">
										<tbody>
											{% for template_price in template_prices %}
											<tr class="bg-strip ptsc-bg-strip">
												<td><a><img src= {{ template_price.store_logo }} class="img-fluid img-responsive seller-logo-compare ptsc-seller-logo-compare"></a></td>
												<td>{{ template_price.store_name }}</td>
												<td>
													<div class="compare-pts-star">
														{% for i in 1..5 %}
														{% if template_price.rating < i %}
														<i class="fa fa-star-o"></i>
														{% else %}							 
														<i class="fa fa-star"></i>
														{% endif %}
														{% endfor %}
													</div>
												</td>
												<td><h4>{{ template_price.price }}</h4></td>
											</tr>
											{% endfor %}							
										</tbody>
									</table>
								</div>
							</div>
							
							<!-- description -->
							<div id="accordion" class="panel-group description-accord ptsc-description-accord col-sm-12 col-xs-12 col-12">
								<div class="panel panel-default toggle-btn">
									<div class="panel-heading">
										<a class="panel-title ptsc-temppro-plantit">{{ entry_description }}</a>
									</div>
									<div id="collapseOne" class="panel-collapse">
										<div class="panel-body">
											{{ templatetemplate_description_name }}
										</div>
									</div>
								</div>
							</div>
							<!-- description -->
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% if ver=='3.1.0.0_b' %}
<script type="text/javascript"><!--
	$('textarea[data-toggle=\'summernote\']').ckeditor();
//--></script>

{% else %}
{% endif %}
{{ footer }}